.header {
    width: calc(100vw - 384px);
    background: #FFFFFF;
    box-shadow: 0px 2px 4px #F0F1F2;
    height: 80px;
}

.options {
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.newoptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 119px;
    height: 40px;
    background: #0094FF;
    border-radius: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.rightoptions,
.leftoptions {
    display: flex;

}

.notify {
    margin-right: 22px;

}

.quantitynotify {
    width: 24px;
    height: 20px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #F21247;
    border-radius: 4px;
    margin-top: -10px;
    margin-left: 10px;

}

.search {
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F8FA;
    border-radius: 50px;
    margin-right: 22px;
    padding-right: 16px;
}

.search input {
    background-color: inherit;
    padding-left: 16px;
    width: 50px;
}

.line {
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #F3F3F3;
    margin-top: 10px;
}

.grouptitle {
    display: flex;


}

.titleline {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    align-items: flex-end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    color: #222222;
}

.quantitytask {
    width: 26px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E8EBEF;
    border-radius: 100px;
    margin-left: 10px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: right;

color: #8C939F;
}

.create{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-top: 10px;
    color: #8C939F;
    border-left: 1px solid #F3F3F3;
    padding-left: 36px;
}

.columns{
    display: flex;
}
.column{
    width: 300px;
    height: calc(100vh - 150px);
    border-right: 1px solid #F3F3F3;
    text-align: center;
    padding: 15px;
}
.note{
    text-align: left;
    padding: 15px;
    margin-top: 15px;

    background: #ABE9CE;
border-radius: 8px;

}
.description{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #222222;
}

.timetask{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #435E52;  
    height: 20px;
}