.drop {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8C939F;
}

.header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 4px;
    margin-top: 4px;

}

.header img {
    margin-right: 15px;
    margin-left: 7px;
}
.item{
    margin-top: 18px;
    
}